What is an algorithm? 
1. An algorithm is a set of instructions that is designed to accomplish a task.
2. Variable names may not start with certain characters - name two.
special characters or numbers

3. What is a semantic error?
text which is grammatically correct but doesn't make any sense. 
4. What is the #1 rule of coding / debugging?
complexity does not lead to efficiency

5. List 5 Python reserved words.
break, for, not, class, from

In [2]:
print("Ryan")
print("Ice Cream")
print("Data Analyst")

Ryan
Ice Cream
Data Analyst

In [6]:
var1="Baseball"
var2="55"
var3={400, "feet"}
var4=True
var5= ["Cardinals", "Cubs", "Yankees", "Red Sox"]
str1 = len(var1)
print(str1)
print(var1[3])

8
e

In [20]:
"Learning Data Analytics and Python is Awesome!"
savvy = "Learning Data Analytics and Python is Awesome!"
print(savvy[5:24])
print(savvy.replace("Awesome","great"))
print(savvy)

ing Data Analytics
Learning Data Analytics and Python is great!
Learning Data Analytics and Python is Awesome!

In [94]:
name="Ryan"
length=68.5
age=29
miniBio="Hi my name is {}, I am {} inches tall, and {} today."
print(miniBio)
print(miniBio.format(name,length,age))
dec1 = float(age)

Hi my name is {}, I am {} inches tall, and {} today.
Hi my name is Ryan, I am 68.5 inches tall, and 29 today.

In [81]:
rdtlist1=["Baseball", "R57", 2011, ["homeruns", "doubles", "triples"], 762]
rdtlist1.append("singles")
rdtlist1.append("strikeouts")
rdtlistlen=len(rdtlist1)
print(rdtlistlen)
rdtlist2=rdtlist1[2:5]
print(rdtlist2)
rdtlist1.extend(rdtlist2)
simList=["blue", "red," "orange", "green", "purple"]
simList.sort()
print(simList)
rdtlist3=simList.copy()
rdtlist4=[rdtlist2+rdtlist3]

7
[2011, ['homeruns', 'doubles', 'triples'], 762]
['blue', 'green', 'purple', 'red,orange']

In [97]:
mytuple1 = ("cardinals","cubs","yankees","dodgers", "mariners")
mytuple2 = mytuple1 * 3
print(mytuple2)
print(sorted(mytuple2))
mytuple3 = ("cardinals","cubs","yankees","mariners")
mytuple3 = ("cardinals","cubs","yankees","mariners")
mytuple4= ("rockies", "braves", "royals", "twins")
print("rockies")
print("braves")
print("royals")
print("twins")
mytuple4 = (50,)
print(mytuple4)
mytuple5 = mytuple2 + mytuple3
print(mytuple5)

('cardinals', 'cubs', 'yankees', 'dodgers', 'mariners', 'cardinals', 'cubs', 'yankees', 'dodgers', 'mariners', 'cardinals', 'cubs', 'yankees', 'dodgers', 'mariners')
['cardinals', 'cardinals', 'cardinals', 'cubs', 'cubs', 'cubs', 'dodgers', 'dodgers', 'dodgers', 'mariners', 'mariners', 'mariners', 'yankees', 'yankees', 'yankees']
rockies
braves
royals
twins
(50,)
('cardinals', 'cubs', 'yankees', 'dodgers', 'mariners', 'cardinals', 'cubs', 'yankees', 'dodgers', 'mariners', 'cardinals', 'cubs', 'yankees', 'dodgers', 'mariners', 'cardinals', 'cubs', 'yankees', 'mariners')

In [57]:
ryanset1 = {"Baseball", "Basketball", "Football"}
ryanset1.add("watermelon")
ryanset1.add("kiwi")
ryanset1.add("peach")
print(ryanset1)
ryanset1.add("car")
ryanset2 = {51,53,55}
ryanset3 = ryanset1.union(ryanset2)
print (ryanset3)
ryanset2.pop()
print(ryanset2)
ryanset1.clear()
print(ryanset1)
ryanset3.discard("peach")
ryanset3.remove("kiwi")
print(ryanset3)

{'Baseball', 'Football', 'Basketball', 'watermelon', 'kiwi', 'peach'}
{'Baseball', 'Football', 'Basketball', 51, 'watermelon', 'kiwi', 'car', 53, 55, 'peach'}
{53, 55}
set()
{'Baseball', 'Football', 'Basketball', 51, 'watermelon', 'car', 53, 55}

In [77]:
ryandict = {
    "movie": "the dark knight",
    "age": 29,
    "genre": "rap",
    "sport": "baseball",
    "hobby": "fitness",
}
ryandict.get("movie")
ryandict.update({"sport":"Ryan"})
ryandict.update({"color":"blue"})
ryandict.update({"list":[1,2,3]})
ryandict.keys()
ryandict.values()
ryandict2 = dict(ryandict)
ryandict2.pop("sport")
print(ryandict2)
ryandict2.clear()

{'movie': 'the dark knight', 'age': 29, 'genre': 'rap', 'hobby': 'fitness', 'color': 'blue', 'list': [1, 2, 3]}