Section 1:1 and 1:2

SELECT RTRIM(Accel, "sec")
FROM evCars

Section 1:4

UPDATE evCars 
SET Accel = RTRIM(Accel, ' sec')

103 rows were updated

Section 1:5

Select Accel from evCars

Section 1:6
ALTER TABLE evCars
 RENAME Accel TO AccelSec

Section 2:1

 Select TopSpeed from evCars

Section 2:2
Select rtrim (TopSpeed, "km/h")
 FROM evCars

Section 2:3
Select TopSpeed, rtrim (TopSpeed, "km/h") from evCars

Section 2:4
 UPDATE evCars
 Set TopSpeed= rtrim (TopSpeed, "km/h")

Section 2:5
Select TopSpeed from evCars

Section 2:6
 Select TopSpeed, round (TopSpeed * 0.621371, 1)
 FROM evCars

 UPDATE evCars
 Set TopSpeed=round (TopSpeed * 0.621371, 1)

Section 2:7
 Alter TABLE evCars
 RENAME TopSpeed to topSpeedMPH

Section 2:8
Select *
 FROM evCars

Section 3:1
Select Range
 FROM evCars

Section 3:2
Select rtrim (Range, "km/h")
 FROM evCars

Section 3:3
Select Range, rtrim (Range, "km/h") from evCars
103 rows returned

Section 3:4
UPDATE evCars
 Set Range= rtrim (Range, "km/h")

Section 3:5
Select *
from evCars

Section 3:6
 Select Range, round (Range * 0.621371, 1)
 FROM evCars

 UPDATE evCars
 Set Range=round (Range * 0.621371, 1)

Section 3:7
 Alter TABLE evCars
 RENAME Range to rangeMiles

Section 3:8
Select *
from evCars

Section 4:1

 SELECT Efficiency, FastCharge FROM evCars;

Section 4:2
SELECT Efficiency, TRIM(Efficiency, ' Wh/km') from evCars;
SELECT FastCharge, TRIM(FastCharge, ' Wh/km') from evCars;

Section 4:3
SELECT Efficiency, TRIM(Efficiency, ' Wh/km') from evCars;
SELECT FastCharge, TRIM(FastCharge, ' Wh/km') from evCars;

Section 4:4
UPDATE evCars
SET 
Efficiency = TRIM(Efficiency, ' Wh/km'), 
FastCharge = Trim(FastCharge, ' Wh/km');

Section 4:5
SELECT Efficiency, FastCharge FROM evCars;

Section 4:6
SELECT FastCharge, Round(FastCharge * 0.621371, 1) as OneHourFastChargeMiles
From evCars;
UPDATE evCars
SET 
    FastCharge = FastCharge * 0.621371;
SELECT FastCharge FROM evCars;

Section 4:7
ALTER TABLE evCars
RENAME FastCharge TO OneHourFastChargeMiles;
ALTER TABLE evCars
RENAME Efficiency TO EfficiencyWHperKM;

Section 4:8
Select *
From evCars

Section 5:1
SELECT RapidCharge, Count(*)
FROM evCars
GROUP BY RapidCharge;

Section 5:2 5:3
UPDATE evCars
SET RapidCharge = True WHERE RapidCharge = 'Rapid charging possible';
UPDATE evCars
SET RapidCharge = False WHERE RapidCharge = 'Rapid charging not possible';

Section 6:1
SELECT PowerTrain, Count(*)
FROM evCars
GROUP BY PowerTrain;

Section 6:2
All Wheel Drive
Rear Wheel Drive
Front Wheel Drive

Section 6:3
UPDATE evCars
SET PowerTrain = 'AWD' WHERE PowerTrain = 'All Wheel Drive';
UPDATE evCars
SET PowerTrain = 'FWD' WHERE PowerTrain = 'Front Wheel Drive';
UPDATE evCars
SET PowerTrain = 'RWD' WHERE PowerTrain = 'Rear Wheel Drive';

Section 6:4
SELECT PowerTrain, Count(*)
FROM evCars
GROUP BY PowerTrain;

Section 7:1
SELECT PriceEuro, ROUND(PriceEuro * 1.09, 2)
FROM evCars;

Section 7:2
UPDATE evCars
SET 
PriceEuro = ROUND(PriceEuro * 1.09, 2);
SELECT PriceEuro FROM evCars;

Section 7:3
ALTER TABLE evCars
RENAME PriceEuro TO PriceUSD;